.login {
  position: fixed; /* or absolute */
  top: 50%;
  left: 43%;
}

.loginButton {
  color: var(--color-white);
  background-color: #1db954;
  opacity: 1;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  -webkit-transition-property: background-color, border-color, color, -webkit-box-shadow,
    -webkit-filter;
  transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow,
    -webkit-filter;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
}

@media (max-width: 768px) {
  .login {
    margin: auto;
    left: 20%;
    width: 100%;
    display: inherit;
  }
}
